.root {
  container-type: inline-size;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: var(--ae-space-sm);
  min-height: var(--ae-panel-header-height);
  padding: var(--ae-space-xs) var(--ae-space-sm) var(--ae-space-xs) var(--ae-space-lg);
  background-color: var(--ae-bg);
  color: var(--ae-fg);

  &[data-with-border] {
    border-bottom: rem(1px) solid var(--ae-border);
  }
}

.left,
.secondary,
.right {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: var(--ae-space-2xs);
}

.right {
  margin-inline-start: auto;
}

.titles {
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: var(--ae-font-size-sm);
  line-height: var(--ae-line-height-sm);
  font-weight: 500;
  color: var(--ae-fg);
}

.subtitle {
  margin: 0;
  font-size: var(--ae-font-size-xs);
  line-height: var(--ae-line-height-xs);
  color: var(--ae-fg-muted);
}

@container (max-width: 30rem) {
  .root[data-collapse-secondary] .subtitle,
  .root[data-collapse-secondary] .secondary {
    display: none;
  }
}
