.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ae-control-height-md);
  height: var(--ae-control-height-md);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms ease;

  @mixin hover {
    background-color: var(--ae-muted);
  }
}

.icon {
  color: var(--ae-icon-idle);
}
