.target {
  display: inline-flex;
}

.dropdown {
  min-width: rem(180px);
  padding: rem(4px);
  border: rem(1px) solid var(--ae-border);
  border-radius: var(--ae-tool-radius);
  background-color: var(--ae-bg);
  color: var(--ae-fg);
  outline: none;
}
